@media screen and (max-width: 1199px) {
  .hide {
    display: none;
  }
}

.activity {
  margin-top: -94px;

  &__list {
    display: flex;
    gap: 30px;
  }

  &__item {
    position: relative;
  }

  &__img {
    display: block;
  }

  &__description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 27px 0;
    text-align: center;
    text-transform: uppercase;
    color: $color-white;
    font-weight: 700;
    background-color: $activity-bg;
    font-size: 14px;
    line-height: 1.14;
  }
}
